In [7]:
import pandas as pd
from tabulate import tabulate
india_wea={
    'city':["mumbai","delhi","bangalore"],
    'temperature':[32,45,30],
    'humidity':[80,60,78]
}
df1=pd.DataFrame(india_wea)
print(tabulate(df,headers='keys',tablefmt='grid'))

+----+----------+---------------+------------+
|    | city     |   temperature |   humidity |
+====+==========+===============+============+
|  0 | new york |            21 |         68 |
+----+----------+---------------+------------+
|  1 | chicago  |            14 |         65 |
+----+----------+---------------+------------+
|  2 | orlando  |            35 |         75 |
+----+----------+---------------+------------+

In [8]:
import pandas as pd
from tabulate import tabulate
us_wea={
    'city':["new york","chicago","orlando"],
    'temperature':[21,14,35],
    'humidity':[68,65,75]
}
df2=pd.DataFrame(us_wea)
print(tabulate(df,headers='keys',tablefmt='grid'))

+----+----------+---------------+------------+
|    | city     |   temperature |   humidity |
+====+==========+===============+============+
|  0 | new york |            21 |         68 |
+----+----------+---------------+------------+
|  1 | chicago  |            14 |         65 |
+----+----------+---------------+------------+
|  2 | orlando  |            35 |         75 |
+----+----------+---------------+------------+

In [14]:
new_df=pd.concat([df1,df2],ignore_index=True)
print(new_df)

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
3   new york           21        68
4    chicago           14        65
5    orlando           35        75