In [2]:
import pandas as pd
from tabulate import tabulate

def convert_pepole_cell(cell):
    if cell=="n.a.":
        return 'sam walton'
    return cell
df=pd.read_excel('C:\\Users\\ANISH M S\\Downloads\\stock_data.xlsx','Sheet1',converters={
    'people':convert_pepole_cell
})
print(tabulate(df,headers='keys',tablefmt='grid'))

+----+-----------+---------------+-----------+---------+---------------+
|    | tickers   | eps           |   revenue | price   | people        |
+====+===========+===============+===========+=========+===============+
|  0 | GOOGL     | 27.82         |        87 | 845     | larry page    |
+----+-----------+---------------+-----------+---------+---------------+
|  1 | WMT       | 4.61          |       484 | 65      | sam walton    |
+----+-----------+---------------+-----------+---------+---------------+
|  2 | MSFT      | -1            |        85 | 64      | bill gates    |
+----+-----------+---------------+-----------+---------+---------------+
|  3 | RIL       | not available |        50 | 1023    | mukesh ambani |
+----+-----------+---------------+-----------+---------+---------------+
|  4 | TATA      | 5.6           |        -1 | n.a.    | ratan tata    |
+----+-----------+---------------+-----------+---------+---------------+

In [4]:
df["tickers"]

0    GOOGL
1      WMT
2     MSFT
3     RIL
4     TATA
Name: tickers, dtype: object

In [11]:
df.iloc[0]

tickers         GOOGL
eps             27.82
revenue            87
price             845
people     larry page
Name: 0, dtype: object

In [13]:
df1=df[df.tickers=="GOOGL"]

In [14]:
df1

  tickers    eps  revenue price      people
0   GOOGL  27.82       87   845  larry page