In [5]:
import pandas as pd
from tabulate import tabulate
india_wea={
    'city':["new york","chicago","orlando"],
    'temperature':[32,45,30]
}

df1=pd.DataFrame(india_wea)
print(tabulate(df1,headers='keys',tablefmt='grid'))

+----+----------+---------------+
|    | city     |   temperature |
+====+==========+===============+
|  0 | new york |            32 |
+----+----------+---------------+
|  1 | chicago  |            45 |
+----+----------+---------------+
|  2 | orlando  |            30 |
+----+----------+---------------+

In [7]:
import pandas as pd
from tabulate import tabulate
us_wea={
    'city':["new york","chicago","orlando"],
    'humidity':[80,60,78]
}
df2=pd.DataFrame(us_wea)
print(tabulate(df2,headers='keys',tablefmt='grid'))

+----+----------+------------+
|    | city     |   humidity |
+====+==========+============+
|  0 | new york |         80 |
+----+----------+------------+
|  1 | chicago  |         60 |
+----+----------+------------+
|  2 | orlando  |         78 |
+----+----------+------------+

In [11]:
new_df=pd.merge(df1,df2,on='city')
print(new_df)

       city  temperature  humidity
0  new york           32        80
1   chicago           45        60
2   orlando           30        78

In [17]:
import pandas as pd
from tabulate import tabulate
india_wea={
    'city':["new york","chicago","orlando"],
    'temperature':[32,45,30],
    'humidity':[80,60,78]
}
df1=pd.DataFrame(india_wea)
df2=pd.DataFrame(us_wea)
us_wea={
    'city':["new york","chicago","orlando"],
    'humidity':[81,65,78],
    'temperature':[32,45,30]
}
new_df=pd.merge(df1,df2,on='city')
print(new_df)

       city  temperature_x  humidity_x  humidity_y  temperature_y
0  new york             32          80          81             32
1   chicago             45          60          65             45
2   orlando             30          78          78             30

In [16]:
new_df=pd.merge(df1,df2,on='city',suffixes=('_left','_right'))
print(new_df)

       city  temperature_left  humidity_left  humidity_right  \
0  new york                32             80              80
1   chicago                45             60              60
2   orlando                30             78              78

   temperature_right
0                 32
1                 45
2                 30